exportPattern("^[[:alpha:]]+")
export(fmerge)
export(chrp)
export(mktable)
export(path)
export(pathdiagram)
export(pathdiagram2)
export(snpPositAnnot)
export(ucscannot)
import(graphics)
import(utils)
import(diagram)
import(plotrix)
#import(data.table)
import(grDevices)
import(stats)
import(GenomicRanges)
